[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pymongo = "*"
requests-html = "*"
selenium = "*"
fonttools = "*"
pytesseract = "*"
scrapy = "*"

[requires]
python_version = "3.7"
